body {
    background-attachment: fixed;
}

#body {
    display: flex;
    margin: auto;
    align-items: center;
    height: 90%;
    flex-wrap: wrap;
    justify-content: center;
}

#body > #welcomeLabel {
    font-size: 30px;
    width: 60vw;
    color: white;
    text-align: center !important;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    margin-top: 100px;
}

#body > #cards {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
    flex-wrap: wrap;
}

#pictureNavigationBar {
    height: 5%;
}

#body > #cards > .card {
    border-radius: 10px;
    background-color: rgba(227, 223, 222, 0.5);
    width: 270px;
    height: 450px;
    transition: 300ms linear;
    text-align: left;
    color: white;
    margin-top: 40px;
}

#body > #cards > .card:hover{
    transition: 300ms linear;
    transform: scale(1.1);  
}

#body > #cards > .card:hover .overlay {
    visibility: visible;
}

#body > #cards > .card > h2 {
    
    margin-left: 10%;
    transition: 300ms linear;
    font-size: 25px;
    text-transform: uppercase;
}

#card1 {
    background-image: url("Images/australia.jpg");
    background-size: cover;
}

#card2 {
    background-image: url("Images/europe.jpg");
    background-size: cover;
}

#card3 {
    background-image: url("Images/america.jpg");
    background-size: cover;
}

#card4 {
    background-image: url("Images/africa.jpg");
    background-size: cover;
}

#card5 {
    background-image: url("Images/asia.jpg");
    background-size: cover;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    opacity: 0.7;
    visibility: hidden;
    border-radius: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}