body {
    background-image: url("Images/background.jpg");
    font-family: 'Tilt Neon', cursive;
}

@media (pointer: coarse) {
    body {
        background-size: cover !important;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 720px) {
    header {
        top: 70px;
        flex-direction: row !important;
        margin-top: 70px;
    }

    #body {
        margin-top: 170px !important;
    }

    header>#navigationBar {
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        height: 20% !important;
    }

    #logo>img {
        width: 100% !important;
    }

    main>aside {
        margin-top: 160px;
    }
}

header {
    height: 5%;
    width: 100%;
    position: sticky;
    top: 25px;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 15px;
}

@media screen and (max-width: 1000px) {
    header {
        flex-direction: column;
    }
}

@media screen and (max-width: 640px) {}

header>#logo {
    width: 40%;
    margin-top: 0;
}

header>#logo>img {
    width: 50%;
}

header>#navigationBar {
    width: 97%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-transform: uppercase;
    text-align: center;
}

header>#navigationBar>a {
    margin: auto;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    z-index: 100;
}

#navigationBar>a {
    transition: 200ms linear;
    color: white;
    border-radius: 5%;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    padding: 1%;
}

#navigationBar>a:hover {
    transition: 200ms linear;
    background-color: white;
    color: black !important;
}